.home_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}
/*
.home_description{
    margin-top: 24px;
}
*/
.home_img_logo{
    width: 450px;
    height: 600px;
}

.home_text_welcome{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 39px;
    color: #141E61;
    justify-content:center;
}

.home_text_pres{
    font-weight: 600;
    font-size: 2rem;
    line-height: 48px;
    color: #141E61;
}

.home_img_arrow_cont{
    background-color: white;
    display: grid;
    height: 20px;
}

.home_img_arrow{
    justify-self: center;
    cursor: pointer;
    animation: jumpInfinite 1.5s infinite;
}


@keyframes jumpInfinite {
    0% {
        margin-top: -10px;
    }
    50%{
        margin-top: -20px;
    }
    100%{
        margin-top: -10px;
    }
}
/*
@media only screen and (max-width: 600px) {
    .home_img_logo{
        width: 50%;
        height: 60%;
    }   
}*/

@media only screen and (max-width: 795px) {
    .home_img_logo{
        width: 50%;
        height: 50%;
    }    
    .home_description{
        margin-top: 4%;
    }
}
@media screen and (min-width:500px) and (max-width: 781px) {
	.home_text_welcome {
		font-size: 28px;
	}

    .home_text_pres{
        font-size: 32px;
    }

    
    
}

@media screen and (max-width: 499px) {
	.home_text_welcome {
		font-size: 24px;
        display: flex;
        align-self: center;
    }    
    .home_text_pres{
        font-size: 28px;
        display: flex;
        align-self: center;
    }
}
